<html>
  <head><title>Twarkov Explorer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <style>
table, th , td  {
	  border: 1px solid grey;
		    border-collapse: collapse;
			      padding: 5px;
}
table tr:nth-child(odd) {
	  background-color: #f1f1f1;
}
table tr:nth-child(even) {
	  background-color: #ffffff;
}
  </style>
  <body>
    <h1> Twarkov Explorer </h1>
    <div ng-app="twarkovExplorer" ng-controller="twarkovCtrl">
      <form>
        Select a catagory:
        <select ng-model="file" ng-options="cat.desc for cat in files" ng-change='pickFile(file.name)'></select>
      </form>
      <form>
        Select a message: 
        <select ng-model="msg" ng-options='m.message.substr(0,20) for m in messages' ng-change='newMessage(msg)'></select>
      </form>
      {{message_status}}
      <h3><span ng-repeat="e in msg.sequence" ng-mouseover="maketweets(e.labels)" ng-style="{ 'background-color':  '{{bgcolor(e.labels)}}' }">{{e.element + msg.seperator}}</span></h3>
      {{ chain_status }}
      <table>
        <tr ng-repeat="id in tweet_ids">
          <td>{{ msg.tweets[id].username }}</td>
          <td>{{ msg.tweets[id].text }}</td>
        </tr>
      </table>
    </div>
    <script>
var app = angular.module('twarkovExplorer', []);
app.controller('twarkovCtrl', function($scope, $http) {
  $http.get('index.json').then( function (response) {
    $scope.files = response.data;
  });

  $scope.tweet_ids = [];
  $scope.chain_status = "";
  $scope.messages = [];
  $scope.message_status = "";

  $scope.clearTweetIds = function () {
    $scope.chain_status = "";
    $scope.tweet_ids = [];
  };

  $scope.newMessage = function(message) {
    $scope.clearTweetIds();
    var element_type = "words";
    if (message.seperator == "") {
      element_type = "characters";
    } 
    var num_tweets = Object.keys(message.tweets).length;
    $scope.message_status = "Message derived using chains of " + message.depth + " " + element_type + " from " + num_tweets + " tweets.";
  };

  $scope.maketweets = function(tweetlist) {
    $scope.tweet_ids = tweetlist;
    var plural = "";
    if ( tweetlist.length > 1 ) {
      plural = "s";
    }
    $scope.chain_status = "This subchain appears in " + tweetlist.length + " tweet" + plural
  };
  
  $scope.pickFile = function (filename) {
    $scope.clearTweetIds();
    $scope.messages = [];
    $scope.message_status = "";
    $http.get(filename).then( function (response) {
      $scope.messages = response.data;
    });
  };

  $scope.bgcolor = function(tweetlist) {  
    var hash = 0;
    for (var i=0; i < tweetlist.length; i++) {
      hash = ((hash << 5) - hash) + tweetlist[i];
      hash |= 0;
    }
    var red = 255 - (hash & 0x7F);
    var green = 255 - ((hash >> 7) & 0x7F);
    var blue = 255 - ((hash >> 14) & 0x7F);
    return "#" + red.toString(16) + green.toString(16) + blue.toString(16);
  }
});
    </script>
  </body>
</html>



